### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env
instance/
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Vetur ###
vetur.config.js

### Vue ###
node_modules/
npm-debug.log
