<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Import custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}{% endblock %}Simple Benford's Law Checker </title>
</head>


<body>

    <h1><img src="{{ url_for('static', filename='img/harry-approves.png') }}" alt="Harry Du Bois" width="150">    Simple Benford's Law Checker</h1>
    <hr>

    {% block filestatus %}
    {% endblock %}

    <hr>

    {% block plot %}
    {% endblock %}

    {% block result %}
    {% endblock %}

    <hr>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}

</body>


