{% extends 'base.html' %}

{% block filestatus %}
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="file"></p>
        <p><label for="column">Specify a number of the column containing data you want to analyze (counting from 1):</label>
            <input type="text" name="column" id="column">
        </p>
        <p> <label for="delimiter">Select the delimiter in your file:</label>
            <select name="delimiter" id="delimiter">
                <option> </option>
                <option value="comma">comma (,)</option>
                <option value="semicolon">semicolon (;)</option>
                <option value="colon">colon (:)</option>
                <option value="tab">{Tab} (\t)</option>
                <option value="space">{space} ( )</option>
            </select>
        </p>
        <p> <label for="delimiter">Is header present in your file?:</label>
            <select name="is_header" id="is_header">
                <option> </option>
                <option value="is_header">yes</option>
                <option value="no_header">no</option>
            </select>
        </p>
      <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}


